{% extends 'base.html' %}
{% load bootstrap_tags %}


{% block content %}
{{product.name}}
{{product.views }}

<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="card">
                <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
    </div>
</div>




{{rating.rating__avg|floatformat}}

<h3 class="text-center"> Reviews</h3>

{% for comment in comment reversed %}
<div class="reviews">
    <div class="row blockquote review-item">
        <div class="col-md-3 text-center">
            <img class="rounded-circle reviewer" src="http://standaloneinstaller.com/upload/avatar.png">
            <div class="caption">
                <small>by {{comment.user}}</small>
            </div>
        </div>
        <div class="col-md-9">
            <h4> Rating :{{comment.rating}}</h4>
            <div class="ratebox text-center" data-id="0" data-rating="5"></div>
            <p class="review-text">{{comment}} </p>
            <small class="review-date">{{comment.date_posted}}</small>
        </div>
    </div>
</div>
{% endfor %}

{% if user.is_authenticated %}
<form id="comments" action="{% url 'product' product.id %}" method="POST" novalidate>
    {% csrf_token %}
    {{ comment_form | as_bootstrap }}
    <button class="comment-post" type="submit">comment</button>
</form>
{% else %}
<h4>Please login to post a comment</h4>
{% endif %}


<h2 hidden class="id_pk_key">{{ comment_form.product.value|default_if_none:product.id }}</h2>

{% endblock %}