{% extends 'base.html' %}
{% block content %}
{{profile}}


<h3>Your Current Orders </h3>
{% for item in cart_items %}

<div class="col-12 col-sm-8 col-md-8 display card ">

    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>

    <div class="caption">
        <h3>{{ item.product.name }}</h3>
        <p class="product-description">{{ item.product.description }}</p>
        <p>{{ item.product.price }}</p>
    </div>
</div>
{% endfor %}

{% endblock %}